# Environment variables
.env

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Docker volumes
mysql-data/
localstack-data/

# Logs
*.log

# Binary files
bin/
dist/
